

.content{
  width:95%;
  margin:0 auto;
}
.news{
  width:25%;
 background: lightgreen;
}
.players{
 
 background: pink;
}
.match{
   width:20%;
 background: purple;
}
.winer{
 background: gold;
}
.fanzone{
 background: red;
}
.teams{
   width:50%;
 background: gray;
}

.content > *{
	display:inline-block;
}
