/* ----navigation menu---- */
ul{
	display:none;
	list-style-type: none;
	position: absolute;
}
 li{
 	margin:10%;
 	border-bottom:1px blue solid;
 }
 li a{
 	text-decoration:none;
 	color:white;
 }
 .nav {
 	display:inline-flex;
 	margin-right:2%;
 }
.toggle-nav{
  	text-decoration:none;
  	cursor:pointer;
    width: 200px;
    height: 200px;
    background: url('../assets/sprite.png') -591px 0;
    zoom: 30%;
    margin-top:55%;
    
}
#menu{
	margin-right: 2%;
	margin-top:50%;
}
.menu{
	position: absolute;
	background-color: #037abe;
    width: 20%;
    height: 27%;
    margin:auto;
}
/*----Header-----*/

header{
	display: fixed;
	display:-ms-flexbox;
	display:flex;
	background-color:green;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	margin:3% auto;
}

/*---Logo---*/

#logo{
	
	height:220px;
	margin-right: 7.5%;
}
#title{
	margin-top:10%;
}
/*---Body ---*/
body{
	background:url('../assets/b.png') no-repeat;
	background-size:100% 100%;

}